<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout.html :: headerfiles">
</head>
<body>
  <div th:replace="fragments/layout.html :: navbar(resources)"></div>
  <div class="container">
    <p>
      Here are some helpful links to find more information about UKC:
    </p>
    <ul>
      <li>
        <a class="xlink" href="https://www.unboundtech.com/docs/UKC/UKC_User_Guide/HTML/Content/Products/Unbound_Cover_Page.htm"
            target="_blank">UKC User Guide</a>
      </li>
      <li>
        <a class="xlink" href="https://www.unboundtech.com/docs/UKC/UKC_Integration_Guide/HTML/Content/Products/Unbound_Cover_Page.htm"
            target="_blank">UKC Integration Guide</a>
      </li>
      <li>
        <a  class="xlink" href="https://www.unboundtech.com/product/unbound-key-control/"
            target="_blank">UKC product page</a>
      </li>
      <li>
        <a class="xlink" href="https://www.unboundtech.com/docs/UKC/UKC_Developers_Guide/HTML/Content/Products/Unbound_Cover_Page.htm"
            target="_blank">UKC Developers guide</a>
      </li>
      <li>
        <a class="xlink" href="https://www.unboundtech.com/docs/UKC/SDE/index.html"
          target="_blank">SDE API</a>
      </li>
      <li>
        <a class="xlink" href="https://www.unboundtech.com/docs/UKC/UKC_Developers_Guide/HTML/Content/Products/UKC-EKM/UKC_Developers_Guide/Application_Level_Encryption.htm#h2_1"
          target="_blank">Tokenization with UKC</a>
      </li>
    </ul>
  </div>
</body>
</html>
