.container {
    width: 100%;
    max-width: none;
}

@media (min-width: 992px) {
  .container {
      width: 100%;
      max-width: none;
  }
}

@media (min-width: 768px) {
  container {
    width: 100%;
    max-width: none;
  }
  .navbar-expand-lg .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-expand-lg .navbar-collapse {
      display: -ms-flexbox!important;
      display: flex!important;
      -ms-flex-preferred-size: auto;
      flex-basis: auto;
  }

  .navbar-expand-lg .navbar-toggler {
      display: none;
  }
}


.navbar {
  min-height: 60px;
  background-color: #252c3d;
}

.navbar-brand {
  padding: 0 15px;
  height: 60px;
  line-height: 60px;
}

input[type=text] {
    max-width: 600px;
}

/* .navbar-toggle { */
  /* (80px - button height 34px) / 2 = 23px */
  /* margin-top: 23px;
  padding: 9px 10px !important;
} */

/* @media (min-width: 768px) { */
  /* .navbar-nav > li > a { */
    /* (80px - line-height of 27px) / 2 = 26.5px */
    /* padding-top: 26.5px; */
    /* padding-bottom: 26.5px; */
    /* line-height: 27px; */
  /* } */
/* } */

.navbar-dark .navbar-nav .nav-link {
  color: #9d9d9d;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: #fff;
  background-color: transparent;
}

.navbar-dark .navbar-nav>.active>a, .navbar-dark .navbar-nav>.active>a:focus, .navbar-dark .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #080808;
}


/* .nav-item:not(:last-child) {
  margin-right: 25px;
} */

body {
  min-height:2000px;
  padding-top: 100px;
}

a.navbar-brand img {
  height: 70px;
  position: relative;
  top: -4px;
  left: -18px;
}

/* .navbar-nav > .active > a {
  color: #7e2452;
  background: lightgray;
} */

.nav > li > a:focus {
  background-color: inherit;
}


.navbar-nav > li > a:hover {
  color: #7e2452;
  background: #c3c2c2;
}

.btn-primary {
  background-color: #7e2452;
  border-color: #7e2452;
  color: white;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:active.focus, .btn-primary:focus {
  background-color: #541033;
  border-color: #541033;
}

.container {
  padding: 0px 25px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: #7e2452;
}


a {
  color: #7e2452;
}

.nav-pills { margin-bottom: 10px; }

iframe {
  border: 1px solid #252b3d;
}

a.navbar-brand {
    border: none;
    padding: 0;
    margin: 0;
    margin-right: 10px;
    z-index: 1;
    display: block;
    width: 222px;
    height: 58px;
    align-self: center;
    background: transparent url('../images/Logo RGB-01.png') no-repeat center center;
    -pie-background: transparent url('../images/Unbound Logos-artboards-RGB_R2-07 small.png') no-repeat center center;
    background-size: 100%;
}

html, body {
  font-family: Source Sans Pro,Roboto;
  font-size: 16px;
}

p {
  max-width: 800px;
}
h1 {
    font: 600 36px/36px Montserrat;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: 600;
    font-stretch: normal;
    font-size: 36px;
    line-height: 36px;
    font-family: Montserrat;
  }

.navbar a.nav-link, .navbar a.dropdown-item {
    font-size: 16px;
    /* font-weight: bold; */
}

.navbar-nav .nav-link {
  padding: 1.5rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
}

form h2 {
  margin-bottom: 0;
}

/* .help_link {
  font-size: 20px;
  line-height: 10px;
  vertical-align: top;
} */

a:hover {
  color: #252d3d;
  text-decoration: none;
}

.help_link:hover {
  border-color: #252d3d;
}

.help_link {
  font-size: 17px;
  line-height: 18px;
  padding-left: 4px;
  vertical-align: top;
  border: 1px solid #7d2452;
  border-radius: 13px;
  width: 20px;
  height: 20px;
  display: inline-block;
}

h2 .help_link {
  padding-left: 5px;
}
