<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout.html :: headerfiles">
</head>
<body>
  <div th:replace="fragments/layout.html :: navbar(cli)"></div>
  <div class="container">
    <h1> Client CLI
      <a href="https://www.unboundtech.com/docs/UKC/UKC_User_Guide/HTML/Content/Products/UKC-EKM/UKC_User_Guide/CLI/A1.html"
        target="_blank"
        class="help_link">
        ?
      </a>
    </h1>
    <p>
      The UKC client command line interface (CLI) lets you interact with UKC. To open the CLI, you need to open a command shell on the UKC client (ukc-client).
    </p>
    <p>
      For example, run this command to open a Bash shell:
      <code class="codeblock">
        docker exec -w /pipelines -it ukc-client /bin/bash
      </code>
    </p>
    <p>
      After opening the shell, you can run CLI commands. The following command lists the keys in UKC:
      <code class="codeblock">
        ucl list
      </code>
    </p>
    <p>
      You can also run demos, such as:
      <code class="codeblock">
        ./01-sign_docker_image.sh
      </code>

    </p>
    <p>
      You may want to open the System Logs or the UKC Admin portal to see how your CLI commands affect UKC.
    </p>
    <p>
      See the <a class="xlink"
      target="_blank"
      href="https://www.unboundtech.com/docs/UKC/UKC_User_Guide/HTML/Content/Products/UKC-EKM/UKC_User_Guide/CLI/A1.html">CLI section of the UKC User Guide</a> for more information.
    </p>


  </div>
</body>
</html>
