<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>DHL - Label Created</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/webjars/bootstrap/3.3.6/css/bootstrap.min.css"
            rel="stylesheet">
    <script src="/webjars/jquery/1.9.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" media="all"
      href="../../css/gtvg.css" th:href="@{/stylesheets/styles.css}" />
      <link rel="icon" th:href="@{/images/cropped-favicon-512x512-blue-03-32x32.png}"
          sizes="32x32">
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"><img th:src="@{/images/Logo-RGB-01.png}" /></a>
      </div>
    </div>
  </nav>
  <div class="container">
    <div th:if="${error == ''}">
      <h1>Label Created</h1>
      <img th:src="'data:image:png;base64,' + ${qrBase64}" />
      <div style="display:none;" th:utext=" ${encrypted}" />
    </div>
    <div th:if="${error.length() > 0}">
      <h1>Error creating label</h1>
      <div th:utext="${error}" class="alert alert-danger" role="alert" />
    </div>
    <div style="display:none;">
      <pre th:utext=" ${json}" />
    </div>

    <div style="margin-top:10px">
      <a class="btn btn-lg btn-primary"
        href="/labels/new" role="button">Create another label</a>
      &nbsp;
      <a class="btn btn-lg"
        href="/api/tester" role="button">Try the API</a>
    </div>
  </div>
</body>
</html>
