<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <!--/*/ <th:block th:include="fragments/layout.html :: headerfiles">
        </th:block> /*/-->
  <script th:inline="javascript">
    $(function() {
      $('[data-toggle="popover"]').popover()
    })
  </script>

  <style media="screen">
    .server_tooltip {
      position: absolute;
      width: 145px;
      height: 140px;
      top: 50px;
    }
    .server_tooltip:hover {
      cursor: pointer;
    }

    #ep_tooltip {
      left: 240px;
    }

    #partner_tooltip {
      width: 125px;
      left: 389px;
    }

    #aux_tooltip {
      left: 517px;
      width: 116px;
    }

    #client_tooltip {
      left: 5px;
    }
  </style>
</head>

<body>
  <div th:replace="fragments/layout.html :: navbar(home)"></div>

  <div class="container">
      <h1>Welcome</h1>
      <p>
        Congratulations, UKC was successfully installed!
      </p>
      <p>
        This site demostrates a UKC system. It provides a tokenization demo, as well as lets you explore UKC through the UKC Admin interface, the client command line, and the system log files.
      </p>
      <p>
        The site has the following sections:
        <ol class='limit_width'>
          <li>
            <a class="xlink" href="/webadmin">UKC Admin</a> - access the UKC administration interface, which can be used to view the FPE key details and more.
          </li>
          <li>
            <a class="xlink" href="/tokenization">Tokenization</a> - UKC can be used for tokenization with a format-preserving encryption (FPE) key. This site demonstrates tokenization/de-tokenization of various tokens by UKC using a pre-defined FPE key stored in UKC. The demo use cases include free text, credit card number, email address, USA SSN, and USA phone number.
          </li>
          <li>
            <a class="xlink" href="cli">Client CLI</a> - get access to the UKC client command line interface.
          </li>
          <li>
            <a  class="xlink" href="/logs">Logs</a> - view the logs for the UKC servers. This can be helpful to view after running tokenization/de-tokenization operations.
          </li>
          <li>
            <a class="xlink" href="/resources">Resources</a> - links to more information about UKC, the SDE API, and more.
          </li>

        </ol>
      </p>
      <div style="position: relative; margin-bottom:30px">
        <img src="/images/ukc-system.png" alt="ukc system diagram">
        <div style="position:absolute; top:0; left:0; width:100%; height:100%; z-index: 1px;">
          <div data-toggle="popover" class="server_tooltip" id="ep_tooltip"
              data-content="This node is used for storing key-shares, running MPC algorithms and running the UKC Admin web app."
              data-placement="top" title="Entry Point (EP)"
              data-trigger="hover"
              >
          </div>
          <div data-toggle="popover" class="server_tooltip" id="partner_tooltip"
          data-placement="top"
          title="Partner"
          data-trigger="hover"
          data-content="This node is used for storing key-shares and running MPC algorithms.">
          </div>
          <div data-toggle="popover" class="server_tooltip"
            id="aux_tooltip" data-placement="top"
            title="Auxiliary"
            data-trigger="hover"
            data-content="This node is a stateless processing engine complementing the EP and Partner when performing crypto operations that use symmetric keys.">
          </div>
          <div data-toggle="popover" class="server_tooltip"
          id="client_tooltip" data-placement="top"
          title="Client"
          data-trigger="hover"
          data-content="This node has UKC client installed, runs the demo app, and can be used to access the UKC."
           >
          </div>
        </div>
      </div>
      <p>
        <a class="btn btn-lg btn-primary"
          href="/tokenization" role="button">Go to the tokenization demo »</a>
      </p>
    </div>
</body>
</html>
