<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <!--/*/ <th:block th:include="fragments/layout.html :: headerfiles">
        </th:block> /*/-->
  <style>
    input[type=text] {
      width: 100%;
    }

    form {
      margin-bottom: 30px;
      border-botton: 1px solid lightgray;
    }

    body {
      counter-reset: h2counter;
    }

    h2:before {
      content: counter(h2counter) ".\0000a0\0000a0";
      counter-increment: h2counter;
    }

    form h2 {
      margin-bottom: 0;
    }

    form:not(:last-child) {
      padding-bottom: 40px;
      border-bottom: 1px solid #d3d3d359;
      max-width: 500px;
    }
  </style>
  <script type="text/javascript">
    function showError(e) {
      var m = e.responseText || e;
      try {
        var json = JSON.parse(m);
        m = json && json.message || m;
      } catch(e) {
        console.log(e);
      }
      alert(m);
    }

    $(function() {
      ['CreditCard', 'Email', 'SSN', 'Phone'].forEach((name) => {
        $(`button#tokenize${name}`).click(function(e) {
          e.preventDefault();
          var clearText = $(`#tokenize${name}Cleartext`).val();
          if (!clearText) {
            alert("Please enter text to tokenize");
            return;
          }
          $.ajax({
              type: "POST",
              contentType: 'text/plain',
              url: `/tokenize${name}`,
              data: clearText
            })
            .done(function(result) {
              $(`#tokenize${name}Cleartext`).val(result);
            }).fail(showError)
        });

        $(`button#detokenize${name}`).click(function(e) {
          e.preventDefault();
          var tokenized = $(`#tokenize${name}Cleartext`).val();
          if (!tokenized) {
            alert("Please enter text to detokenize");
            return;
          }
          $.ajax({
              type: "POST",
              contentType: 'text/plain',
              url: `/detokenize${name}`,
              data: tokenized
            })
            .done(function(result) {
              $(`#tokenize${name}Cleartext`).val(result);
            }).fail(showError)
        });
      });

      $('button#encrypt').click(function(e) {
        e.preventDefault();
        var clearText = $('#encryptCleartext').val();
        if (!clearText) {
          alert("Please enter text to encrypt");
          return;
        }
        try {
          $.ajax({
              type: "POST",
              contentType: 'text/plain',
              url: "/encrypt",
              data: clearText
            })
            .done(function(result) {
              console.log(result);
              console.log('done');
              $("#encryptCleartext").val(result);
            })
            .fail(showError)
        } catch(e) {
          console.log(e);
        }
      });

      $('button#decrypt').click(function(e) {
        e.preventDefault();
        var cypherText = $('#encryptCleartext').val();
        if (!cypherText) {
          alert("Please enter text to decrypt");
          return;
        }
        $.ajax({
            type: "POST",
            contentType: 'text/plain',
            url: "/decrypt",
            data: cypherText
          })
          .done(function(result) {
            $("#encryptCleartext").val(result);
          }).fail(showError)
      });

      $('button#tokenize').click(function(e) {
        e.preventDefault();
        console.log($(e).attr(''))
        var clearText = $('#tokenizeCleartext').val();
        if (!clearText) {
          alert("Please enter text to tokenize");
          return;
        }
        $.ajax({
            type: "POST",
            contentType: 'text/plain',
            url: "/tokenize",
            data: clearText
          })
          .done(function(result) {
            $("#tokenizeCleartext").val(result);
          }).fail(showError)
      });

      $('button#detokenize').click(function(e) {
        e.preventDefault();
        var tokenized = $('#tokenizeCleartext').val();
        if (!tokenized) {
          alert("Please enter text to detokenize");
          return;
        }
        $.ajax({
            type: "POST",
            contentType: 'text/plain',
            url: "/detokenize",
            data: tokenized
          })
          .done(function(result) {
            $("#tokenizeCleartext").val(result);
          }).fail(showError)
      });

    });
  </script>
</head>

<body>
  <div th:replace="fragments/layout.html :: navbar(tokenization)"></div>
  <div class="container">
    <h1>Tokenization Demo</h1>
    <p>
      This demo provides usable examples of tokenization. Enter text in any of the fields and then click Tokenize or Detokenize.
      <BR/>
      It uses a format-preserving encryption (FPE) key (called '<span th:text="${keyname}"></span>' on partition '<span th:text="${activePartition}"></span>').
    </p>

      <!-- <form class="form-horizontal" method="post" action="#">
        <fieldset>
          <h2>Encryption</h2>
          <div class="control-group">
            <label class="control-label">Cleartext / Cypher (Base64)</label>
            <div class="controls">
              <input type="text" id="encryptCleartext" class="input-xlarge">
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="control-group" style="margin-top:20px;">
            <button class="btn btn-primary" id="encrypt" type="submit">Encrypt</button>
            <button class="btn btn-primary" id="decrypt" type="submit">Decrypt</button>
          </div>
        </fieldset>
      </form> -->

    <form class="form-horizontal" method="post" action="#">
        <fieldset>
          <h2>Free text</h2>
          <div class="control-group">
            <label class="control-label">Cleartext / FPE Tokenized</label>
            <div class="controls">
              <input type="text"
                placeholder="Enter text"
                id="tokenizeCleartext" class="input-xlarge">
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="control-group" style="margin-top:20px;">
            <button class="btn btn-primary" id="tokenize" type="submit">Tokenize</button>
            <button class="btn btn-primary" id="detokenize" type="submit">Detokenize</button>
          </div>
        </fieldset>
      </form>

    <form class="form-horizontal" method="post" action="#">
      <fieldset>
        <h2>Credit Card Tokenization</h2>
        <div class="control-group">
          <label class="control-label">Cleartext / CC Tokenized</label>
          <div class="controls">
            <input type="text" id="tokenizeCreditCardCleartext"
              placeholder="Enter a valid credit card number"
              class="input-xlarge">
          </div>
          <small class="form-text text-muted">Ex. 378282246310005</small>
        </div>
      </fieldset>
      <fieldset>
        <div class="control-group" style="margin-top:20px;">
          <button class="btn btn-primary" id="tokenizeCreditCard" type="submit">Tokenize</button>
          <button class="btn btn-primary" id="detokenizeCreditCard" type="submit">Detokenize</button>
        </div>
      </fieldset>
    </form>

    <form class="form-horizontal" method="post" action="#">
      <fieldset>
        <h2>Email Tokenization</h2>
        <div class="control-group">
          <label class="control-label">Cleartext / Tokenized</label>
          <div class="controls">
            <input type="text"
              maxlength="44"
              placeholder="Enter an email address"
              id="tokenizeEmailCleartext" class="input-xlarge">
          </div>
          <small class="form-text text-muted">Ex. someone@company.com (Maximum 44 characters)</small>
        </div>
      </fieldset>
      <fieldset>
        <div class="control-group" style="margin-top:20px;">
          <button class="btn btn-primary" id="tokenizeEmail" type="submit">Tokenize</button>
          <button class="btn btn-primary" id="detokenizeEmail" type="submit">Detokenize</button>
        </div>
      </fieldset>
    </form>

    <form class="form-horizontal" method="post" action="#">
      <fieldset>
        <h2>SSN Tokenization</h2>
        <div class="control-group">
          <label class="control-label">Cleartext / Tokenized</label>
          <div class="controls">
            <input type="text" id="tokenizeSSNCleartext"
              placeholder="###-##-####"
              class="input-xlarge">
          </div>
          <small class="form-text text-muted">Ex. 043-80-7617</small>
        </div>
      </fieldset>
      <fieldset>
        <div class="control-group" style="margin-top:20px;">
          <button class="btn btn-primary" id="tokenizeSSN" type="submit">Tokenize</button>
          <button class="btn btn-primary" id="detokenizeSSN" type="submit">Detokenize</button>
        </div>
      </fieldset>
    </form>

    <form class="form-horizontal" method="post" action="#">
      <fieldset>
        <h2>US Phone Tokenization</h2>
        <div class="control-group">
          <label class="control-label">Cleartext / Tokenized</label>
          <div class="controls">
            <input type="text" id="tokenizePhoneCleartext"
              placeholder="###-###-####"
              class="input-xlarge">
          </div>
          <small class="form-text text-muted">Ex. 202-555-0165</small>
        </div>
      </fieldset>
      <fieldset>
        <div class="control-group" style="margin-top:20px;">
          <button class="btn btn-primary" id="tokenizePhone" type="submit">Tokenize</button>
          <button class="btn btn-primary" id="detokenizePhone" type="submit">Detokenize</button>
        </div>
      </fieldset>
    </form>

    <h2> More information </h2>
    <ul>
      <li>
        <a class="xlink" href="https://www.unboundtech.com/docs/UKC/SDE/index.html"
        target="_blank">SDE API Reference Guide</a>
      </li>
      <li>
        <a class="xlink" href="https://www.unboundtech.com/docs/UKC/UKC_Developers_Guide/HTML/Content/Products/UKC-EKM/UKC_Developers_Guide/Application_Level_Encryption.htm#h2_1"
          target="_blank">Tokenization with UKC in the UKC Developers Guide</a>
      </li>
    </ul>
  </div>

</body>

</html>
